* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.3em;
}
hr.resumeSeparator {
  border-top: 2px solid red;
  margin-bottom: 5px;
}

.navbar {
  display: block;
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.navbar a {
  background-color: gray;
  border: 1px solid black;
  margin: 5px 10px 5px 0;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  
}
.navbar a:hover {
  color: red;
}

.page {
  width: 840px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.content {
  padding: 10px;
}
.content ul {
  list-style-position: inside;
  margin: 0 0 5px 20px;
}

.aboutMe {
  padding: 10px;
}
.aboutMe p {
  margin: 5px;
}
.aboutMe a {
  text-decoration: none;
}
.aboutMe a:hover {
  text-decoration: underline;
  color: red;
}
.aboutMe a:visited {
  color: blue;
}

.separatedInfo {
  display: flex;
  justify-content: space-between;
}

.downloadLinks {
  display: flex;
  justify-content: flex-end;
}
.downloadLinks a {
  margin: 10px 0 5px 5px;
}
.downloadLinks a img {
  height: 50px;
}

.project {
  display: flex;
  margin: 20px 0;
}
.project img {
  max-width: 400px;
}
.project .info {
  margin-left: 10px;
}
.project .info td {
  min-width: 105px;
}
.project .info a {
  text-decoration: none;
}
.project .info a:hover {
  text-decoration: underline;
}
.project .info a:visited {
  color: blue;
}
.project .info .heading {
  font-weight: bold;
  vertical-align: top;
}
.project .images {
  display: flex;
  flex-direction: column;
  
}
.project .images img {
  margin-bottom: 10px;
}
